# En caso de usar en produccion si o si modificar estos datos en un archivo .env para las variables de entorno.

# Base de datos
DB_USER=postgres
DB_PASSWORD=
DB_NAME=gestion_de_pagos
DB_APP_USER=app_user
DB_APP_PASSWORD=

# Autencicacion
JWT_SECRET=

# Para el Frontend
CORS_ORIGIN=https://your-domain.com
APP_PORT=3000

# Para MinIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=usuarios-imagenes
